[submodule "themes/myhugo_theme_robust"]
	path = themes/hugo_theme_robust/
	url = git@bitbucket.org:takaekus/myhugo_theme_robust.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
