[submodule "themes/myhugo_theme_robust"]
	path = themes/hugo_theme_robust/
	url = git@bitbucket.org:takaekus/myhugo_theme_robust.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
