<div class="post-info">
    <div class="post-author">
        {{- if .Params.Author }}
            {{ .Params.Author }}
        {{- else }}
            {{ .Site.Author.name }}
        {{- end }}
    </div>

    {{- if .PublishDate }}
        <div class="post-date">
            <time datetime="{{ .PublishDate }}">{{ i18n "publishdate" . }}</time>
        </div>
    {{- end }}

    {{ if .Params.tags }}
        <div class="post-tags">
            {{ range .Params.tags }}
                <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
        </div>
    {{ end }}
</div>
<div class="post-line"></div>
