{{ define "main" }}

<main>
	<div class="post">
		{{ partial "single/title.html" . }}
		{{ partial "single/post-info.html" . }}

		{{ partial "single/header.html" . }}

        {{- /* tocパラメータを確認 */ -}}
        {{- if (.Param "toc" | default false) -}}
            {{- /* 一応「tocMove」で動作を切り替えられるようにしておく */ -}}
            {{- if (.Param "tocMove" | default false) -}}
                {{- $header := (findRE "<h[1-6].*?>(?:.|\n)*?</h[1-6]>" .Content) -}}
                {{- $firstH := index $header 0 -}}

                {{- if ne $firstH nil -}}
                    {{- $newH := printf `%s%s` .TableOfContents $firstH -}}
                    {{- replace .Content $firstH $newH | safeHTML -}}
                {{- else -}}
                    {{- .Content -}}
                {{- end -}}
            {{- else -}}
                {{- .TableOfContents -}}
                {{- .Content -}}
            {{- end -}}
        {{- else -}}
            {{- /* ToC使わないとき */ -}}
            {{- .Content -}}
        {{- end -}}

		{{ partial "single/footer.html" . }}
	</div>

	<div class="pagination">
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
		{{- end }}
		{{- if .NextPage }}
		<a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
		{{- end }}

		<a href="#" class="top">Top</a>
	</div>
</main>

{{ end }}
